// WIDTH
$mob-small: 375px;
$mob-max: 767px;
$tab-min: 768px;
$tab-max: 1024px;
$desk-min: 1025px;

$font-primary: "Lato", sans-serif;
$font-secondary: "Oswald", sans-serif;
$black: #000;
$black-light: #302f2f;
